{% extends 'main/layout.html' %}
{% load static %}
{% block page_title %}მთავარი გვერდი{% endblock page_title %}



{% block header %}
<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; animation: fade; min-height: 300; max-height: 600">
    <ul class="uk-slideshow-items" >
        {% for slide in slides %}
        <li >
            <div class="{{slide.dark}} uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                <img src="{% static 'main/img/'  %}{{slide.img}}" alt="" uk-cover>
                <div class="uk-position-center uk-position-small uk-text-center ">
                    <h2 uk-slideshow-parallax="x: 100,-100">{{slide.title}}</h2>
                    <p uk-slideshow-parallax="x: 200,-200">{{slide.text}}</p>
                    <button class="uk-button uk-button-default">{{slide.button}}</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
{% endblock header %}
