{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.9.4/css/uikit-core-rtl.css" integrity="sha512-LDw+g5uVNiZ+maqH5lWA5zzGWnGSxeRSBjLREULQhujcI0R5J+XOFpimznT9Lidx54xkPsOfd2z0uNO8oAYeKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'main/css/fonts.css' %}">
   
    <title>
        {% block page_title %}Document{% endblock page_title %}
    </title>
     
    </head>
<body>
    {% block navbar %}
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
            <div class="uk-navbar-center">
               
               
                <ul class="uk-navbar-nav">
                    {% for it in menu %}
                    <li {% if forloop.counter == id %}class="uk-active"{% endif %}>
                        <a href="{% url it.href %}">{{it.item}} </a></li>
                        {% endfor %}    
                </ul>
                
            </div>
        </nav>
    </div>
    {% endblock navbar %}
    
    {% block header %}{% endblock header %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.9.4/js/uikit.min.js" integrity="sha512-HrOabH0q8HnOwCVtR2lvwgRYoHtI0V2zC0ii6Kt0xfKDWhvNrTM3TqQv4EIYjt5NlyowqHhjBJ2gheJ/BfoPnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.9.4/js/uikit-icons.js" integrity="sha512-xQ5vw/InV742NTAU97otVreEEePjRRCjN1W9/VG3MtlKWsRZmI3wKVbUt4qHJX2n2L87FWhJRDhPoPcX+ovtUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
</body>
</html>